---
import { normalizeLang, siteCopy, type SiteLang } from "../i18n/site";

const lang = normalizeLang(Astro.props.lang as SiteLang);
const copy = siteCopy[lang];
---

<header class="header section">
    <div class="container">
        <div class="header-wrapper">
            <p><strong>{copy.header.question}</strong> {copy.header.contact}</p>

            <!-- ðŸ“ž Telefon -->
            <a href="tel:+48501744994" title={copy.header.contact} class="header-phone">
                <svg xmlns="http://www.w3.org/2000/svg" width="13" height="11" viewBox="0 0 13 11" fill="none">
                    <path
                        d="M8.80458 7.09895L8.5202 7.38208C8.5202 7.38208 7.84333 8.05458 5.99645 6.21833C4.14958 4.38208 4.82645 3.70958 4.82645 3.70958L5.0052 3.53083C5.44708 3.09208 5.48895 2.38708 5.10333 1.87208L4.31583 0.820202C3.83833 0.182702 2.91645 0.0983271 2.36958 0.642077L1.38833 1.61708C1.1177 1.88708 0.936453 2.23583 0.958328 2.62333C1.01458 3.6152 1.46333 5.74833 3.96583 8.23708C6.6202 10.8758 9.11083 10.9808 10.129 10.8858C10.4515 10.8558 10.7315 10.6921 10.9571 10.4671L11.8446 9.58458C12.4446 8.98895 12.2758 7.96708 11.5083 7.5502L10.3146 6.90083C9.81083 6.62708 9.19833 6.7077 8.80458 7.09895Z"
                        fill="white"
                    >
                    </path>
                </svg>
                <span>+48&nbsp;501&nbsp;744&nbsp;994</span>
            </a>

            <!-- âœ‰ï¸ E-mail -->
            <a href="mailto:panikwiat@gmail.com" title={copy.header.contact} class="header-phone">
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_437_77)">
                        <path
                            d="M17.8418 3.57614L12.3828 9.00001L17.8418 14.4239C17.9405 14.2176 18.0004 13.9896 18.0004 13.7461V4.25392C18.0004 4.01039 17.9405 3.7824 17.8418 3.57614Z"
                            fill="white"
                        >
                        </path>
                        <path
                            d="M16.418 2.67188H1.58207C1.33855 2.67188 1.11056 2.73175 0.904297 2.83043L7.88151 9.77249C8.49843 10.3894 9.50165 10.3894 10.1186 9.77249L17.0958 2.83043C16.8895 2.73175 16.6615 2.67188 16.418 2.67188Z"
                            fill="white"
                        >
                        </path>
                        <path
                            d="M0.158555 3.57614C0.0598711 3.7824 0 4.01039 0 4.25392V13.7461C0 13.9896 0.0598711 14.2177 0.158555 14.4239L5.61758 9.00001L0.158555 3.57614Z"
                            fill="white"
                        >
                        </path>
                        <path
                            d="M11.6368 9.7457L10.8643 10.5182C9.83634 11.5461 8.16371 11.5461 7.13578 10.5182L6.36332 9.7457L0.904297 15.1696C1.11056 15.2683 1.33855 15.3281 1.58207 15.3281H16.418C16.6615 15.3281 16.8895 15.2683 17.0958 15.1696L11.6368 9.7457Z"
                            fill="white"
                        >
                        </path>
                    </g>
                    <defs>
                        <clipPath id="clip0_437_77">
                            <rect width="18" height="18" fill="white"></rect>
                        </clipPath>
                    </defs>
                </svg>
                <span style="text-transform: lowercase;">panikwiat@gmail.com</span>
            </a>
        </div>
    </div>
</header>

<style lang="scss">
    .header[data-astro-cid-3ef6ksr2] {
        display: none;
        background-color: #8cae6b;
        padding-top: 3px;
        padding-bottom: 3px;
    }

    .header[data-astro-cid-3ef6ksr2] [data-astro-cid-3ef6ksr2] {
        color: #fff;
        font-size: 13px;
        margin-bottom: 0;
    }

    @media screen and (min-width: 1200px) {
        .header[data-astro-cid-3ef6ksr2] {
            display: block;
        }
    }

    .header-phone[data-astro-cid-3ef6ksr2] {
        display: flex;
        line-height: 18px;
    }

    .header-phone[data-astro-cid-3ef6ksr2] span[data-astro-cid-3ef6ksr2] {
        margin-top: 2px;
    }

    .header-phone[data-astro-cid-3ef6ksr2] svg[data-astro-cid-3ef6ksr2] {
        width: 18px;
        height: 18px;
    }

    .header-wrapper[data-astro-cid-3ef6ksr2] {
        display: flex;
        align-items: center;
        margin-right: auto;
    }

    .header-wrapper[data-astro-cid-3ef6ksr2] a[data-astro-cid-3ef6ksr2] {
        margin-left: 8px;
        transition: 0.3s ease-in-out all;
        flex-direction: row;
        display: flex;
        align-items: center;
    }

    @media screen and (min-width: 1366px) {
        .header-wrapper[data-astro-cid-3ef6ksr2] a[data-astro-cid-3ef6ksr2] {
            margin-left: 16px;
        }
    }

    .header-wrapper[data-astro-cid-3ef6ksr2] a[data-astro-cid-3ef6ksr2]:hover {
        opacity: 0.6;
    }

    .header-wrapper[data-astro-cid-3ef6ksr2] a[data-astro-cid-3ef6ksr2] svg[data-astro-cid-3ef6ksr2] {
        margin-right: 10px;
    }

    a[data-astro-cid-3ef6ksr2] {
        display: flex;
        flex-direction: column;
        color: #151515;
        font-size: 14px;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
    }

    @media screen and (min-width: 1200px) {
        a[data-astro-cid-3ef6ksr2] {
            align-items: center;
        }
    }

    a[data-astro-cid-3ef6ksr2] span[data-astro-cid-3ef6ksr2] {
        color: #8cae6bcc;
        font-size: 10px;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.8px;
        text-transform: uppercase;
    }

    @media screen and (min-width: 1200px) {
        a[data-astro-cid-3ef6ksr2] span[data-astro-cid-3ef6ksr2] {
            text-align: center;
        }
    }

    .social-media-mobile[data-astro-cid-3ef6ksr2] {
        background-color: var(--primary);
        color: #fff;
        padding: 20px;
        display: flex;
        justify-content: center;
        gap: 10px;
        font-size: 12px;
    }

    @media screen and (min-width: 1280px) {
        .social-media-mobile[data-astro-cid-3ef6ksr2] {
            display: none;
        }
    }

    .social-media[data-astro-cid-3ef6ksr2] {
        display: flex;
        align-items: center;
        margin-left: auto;
    }

    .social-media[data-astro-cid-3ef6ksr2] a[data-astro-cid-3ef6ksr2] svg[data-astro-cid-3ef6ksr2] {
        margin: 0;
    }

    .social-media[data-astro-cid-3ef6ksr2] a[data-astro-cid-3ef6ksr2]:first-of-type {
        margin-left: 20px;
    }

    @media screen and (min-width: 1366px) {
        .social-media[data-astro-cid-3ef6ksr2] a[data-astro-cid-3ef6ksr2]:first-of-type {
            margin-left: 40px;
        }
    }

    .header[data-astro-cid-3ef6ksr2] {
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 9999999;
    }

    .logo[data-astro-cid-3ef6ksr2] {
        margin-right: 20px;
    }

    .logo[data-astro-cid-3ef6ksr2]:after {
        content: "";
        width: 1px;
        height: 100%;
        background-color: red;
        display: block;
    }
</style>
